@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  counter-reset: section;
}
/* categories */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f9;
}

.container {
  max-width: 100%;
  margin: auto;
  /* background: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.cardIs{
max-width: 100% !important;
}
h3 {
  text-align: center;
  color: #333;
}

#category-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  display: block;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item h3 {
  margin: 0;
}

.result-item p {
  margin: 5px 0 0;
  color: #666;
}
